*{
    padding:0;
    margin:0;
	box-sizing:border-box;
	
      }
 .container{ 
	width:90%;
    margin:0 auto;	
 }
 input::placeholder {
    /* modern browser */
    color: gray;
}
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 
	 
 }
 .col{
	 width:50%;
	 padding:20px 0;
 }

body{
	padding:20px 0;
	background:linear-gradient(#35353530,#35353530),url("image/bg.jpg");
	background-position:center;
	background-size:cover;
	align-items:center;
}
.col2{
	width:50%;
	padding:20px 0;
	padding-left:30px;
	
}
.col3{
	width:50%;
	padding:10px 0;
}
.box{
	padding:15px 20px;
	border-radius:5px;
	font-size:18px;
	border:1px solid lightgray;
	outline:none;
	
	
}
.col4{
	width:100%;
	padding:20px 0;
}
.email{
	padding:10px 0;
	width:100%;
	border-radius:5px;
	font-size:18px;
	border:1px solid lightgray;
	outline:none;
}
.msg{
	padding-bottom:90px;
	width:100%;
	height:20vh;
	border-radius:5px;
	font-size:18px;
	border:1px solid lightgray;
	outline:none;

	
}
.btn a{
	text-decoration:none;
	background-color:#149ccc;
	color:white;
	padding:8px 20px;
	
	
}
.btn{
	text-align:center;
}
.font h3{
	font-family: 'Rubik', sans-serif;
	font-size:40px;
}
.icon{
	display:flex;
}
.icon i{
	font-size:35px;
	padding-right:10px;
}
.icon h2{
	font-style:italic;
	padding-top:5px;
	font-family: 'Rubik', sans-serif;
}
.font h4{
	padding-top:30px;
}
.font p{
	padding:4px 0;
	color:gray;
	font-family: 'Rubik', sans-serif;

}